body {
    font-family: 'Roboto', sans-serif;
}

.break {
    border-color: #212529;
    margin-top: 0;
    opacity: 0.5;
}

.table {
    margin-bottom: 0;
}

h6 {
    font-size: 0.9em;
    padding: 0 12px;
}
